@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .blind {
    @apply absolute m-[-1px] size-[1px] overflow-hidden;
  }
  .center {
    @apply x-center y-center;
  }
  .x-center {
    @apply left-[50%] translate-x-[-50%];
  }
  .y-center {
    @apply top-[50%] translate-y-[-50%];
  }
  .text-balance {
    text-wrap: balance;
  }
  .inner {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
  .drag-unable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
  }
}
